<h2 class="text-4xl font-bold">Introduction</h2>
<p>
  Browserless Micros offers you many ready-to-use micros for free. The <a href="https://pptr.dev/" target="_blank">Puppetter</a> library and
  <a href="https://www.browserless.io/" target="_blank">browserless.io</a> enable browser automation for everyone. You don't need any server or installation to use micros, just your API key from your
  browserless.io account.
</p>

<div class="alert alert-info shadow-lg">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
      />
    </svg>
    <span>If you don't use your own API key when testing micros, you'll use our free key that we offer to everyone, which can quickly fill up the quota. With <a href="https://www.browserless.io/" target="_blank" class="link link-neutral">browserless.io</a> you can quickly get <b>your own API key for free and without a credit card.</b></span>
  </div>
</div>

<h3>Using the API Key</h3>
<p>If you're using a micro on the page, you can use it by adding your API key from the top right. Your API key is deleted after the browser is closed and you need to re-enter it each time.</p>
<p>If you are running the micro by sending a request, add <code>x-api-key</code> to the header.</p>